# Entorno virtual de Python
# Ignora cualquier carpeta llamada 'venv' en cualquier parte del proyecto.
venv/

# Archivo de entorno con secretos
# Ignora cualquier archivo llamado .env en cualquier parte del proyecto.
.env
.pdf

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos específicos del editor/IDE
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db